@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&family=Nanum+Gothic&family=Open+Sans:wght@300;500&family=Orbitron&family=Poppins:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif; */
}

.main{
    background-color: black;
    color: white;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h6{
    font-style: normal;
    font-weight: bolder;
    text-transform: none;
    letter-spacing: .05rem;
    margin: 15PX;
    font-size: 10PX;
    margin-bottom: 5px;
    
}

.container{
    height: 100vh;
}

.nav-bar{

    background-image: url('./assets/bg-1.jpg');
    background-size: cover;
    background-position: center;
    height: 120vh;
}

nav{
  
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    
}

.icon{
    display: none;
}

.icon i{
    font-size: 40px;
}

nav img{
    height: 35px;
}

.headings{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.headings a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 15px;
    font-weight: bold;
}

.icons{
    color: white;
    width: 10%;
}


.icons i{
    
    font-size: 22px;
    margin: 5px;
    font-weight: bolder;
  
}

nav p{
    font-weight: bolder;
}

.Hero-section{
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}

.Hero-section h1{
    margin-top: 480px;
    font-size: 50px;
    font-weight: bolder;
}

.Hero-section p{
    margin-top: 10px;
    width: 50%;
    text-align: center;
}

.Hero-section button{
    margin-top: 20px;
    text-transform: uppercase;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.show-imgs{
    height: 150vh;
    /* 
    background-image: url('./assets/bg-2-img.jpg');
    background-size: 80%;
    background-repeat: no-repeat; */
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    flex-direction: column;

}

.show-imgs h1{
    color: white;
    margin-top: 35px;
    font-size: 40px;
    text-align: center;
}

.show-imgs p{
    color: white;
    font-size: 16px;
    width: 40%;
    text-align: center;
   margin-left: 400px;
   margin-top: 10px;
}

.show-imgs button{
    margin-top: 20px;
    text-transform: uppercase;
    width: 160px;
    height: 45px;
    font-weight: bold;
    font-size: 14px;
}

.girl-img{
    background-image: url('./assets/bg-3-img.jpg');
    background-position: center;
    height: 100vh;
    background-size: cover;
    color: white;
}

.img-text{
    height: 700px;
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.img-text p{
    margin-top: 20px;
}

.img-text button{
    margin-top: 20px;
    text-transform: uppercase;
    width: 180px;
    height: 45px;
    font-weight: bold;
    font-size: 14px;
}

.speaker-img{
    height: 100vh;
    display: flex;
}

.speaker{
    background-image: url('./assets/speaker-1.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    
}

.person-img{
    background-image: url('./assets/img-1.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.head1{
    font-size: 38px;
    font-weight: bolder;
    width: 40%;
    text-align: center;
    line-height: 38px;
}

.p1{
    margin-top: 10px;
    font-size: 16px;
}

.btn-1{
    margin-top: 20px;
    text-transform: uppercase;
    width: 180px;
    height: 45px;
    font-weight: bold;
    font-size: 14px;   
    border: none;
}

.person-img2{
    background-image: url('./assets/img-2.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.speaker-2{

    background-image: url('./assets/speaker-2.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.speaker-3{
    background-image: url('./assets/speaker-3.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.person-img3{
    background-image: url('./assets/img-3.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.person-img4{
    background-image: url('./assets/img-4.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.speaker-4{
    background-image: url('./assets/speaker-4.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;

}

.signup{
    height: 20vh;
    background-color: #121214;
    color: white;
    padding: 30px 80px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info h1{
    font-size: 22px;
    width: 24%;
}

h1 span{
    font-size: 20px;
    font-weight: 200; 
}

    label{
        background-color: white;
        color: black;
        height: 50px;
        width: 450px;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        color: #4b4949;
    }

    .info p{
        font-size: 16px;
        font-weight: 200;
        width: 20%;
        text-align: center;
    }

    .info button{
        text-transform: uppercase;
        width: 180px;
        height: 45px;
        font-weight: bold;
        font-size: 14px;   
        border: none;
    }

    .info a{
        color: white;
    }

    .h-texts{
        height: 40vh;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 50px 90px;
    }

    .ul-text h2{
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

     ul{
        list-style: none; 
    }

    ul li a{
        text-decoration: none;
        color: rgb(162, 159, 159);
    }

    ul li{
        font-size: 15px;
        font-weight: 100;
        margin: 7px;
       
    }

    .ul-texts2{
        width: 30%;
        margin-left: -200px;
    }

    .ul-texts2 h2{
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 10px;

    }

    .account{
     display: flex;
        flex-direction: column;
    }

    .account h1{
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 10px;
        
    }

    .account p{
        color: rgb(162, 159, 159);
        margin-bottom: 10px;
        font-size: 14px;
    }

    .account button{
        text-transform: uppercase;
        width: 200px;
        height: 40px;
        font-weight: bold;
        font-size: 14px;   
        border: none;
        margin: 10px;
    }


    .ul-texts3{
        background-color: black;
        display: flex;
        flex-direction: column;
       
    }

    .ul-texts3 h1{
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 10px;
        color: white;
        margin-top: 10px;
        margin-left: 90px;


    }
    .ul-texts3 ul{
        list-style: none;
        margin-left: 80px;
    }

    .payments{
        height: 30vh;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .payments h1{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .payments p{
        color: rgb(162, 159, 159);
        margin-bottom: 10px;
        font-size: 14px;
        width: 17%;
        text-align: center;
        
    }

    .payments-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
       
        
    }

    .pay-img{
        margin: 10px;
        height: 40px;
    }

    footer{
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 40px 100px;
        height: 20vh;

    }

    footer h1{
        font-size: 15px;
        width: 30%;
        text-align: center;
    }

    footer img{
        height: 45px;
        margin-left: -300px;
    }

    .footer-img{
        width: 18%;
        display: flex;
        justify-content: space-between;
    }

    .footer-img i{
        font-size: 32px;

    }

    .i-img{
        color: white;
        font-size: 30px;
        position: fixed;
        right: 30px;
        bottom: 0;
        top: 90%;  
        cursor: pointer; 
        height: 40px;
        background-color: black;
        border-radius: 20px;
        width: 90px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;

    }

    .i-img i{
        font-size: 20px;
        font-weight: bolder;
        color: white;
    }

    .i-img span{
        font-size: 20px;
    }

    


















@media (max-width :720px) {
    .main{
        display: none;
    }

    nav{
        padding: 40px 30px ;
        background-color: black;
        height: 50px;
    }

    nav img{
        height: 45px;
    }

   .headings{
    display: none;
   }

   .icons 
   {
    display: flex;
    justify-content: space-between;
    width: 40%;
   }

   .icons i{
    font-size: 30px;
    color: white;
   }

   nav p{
    display: none;
   }

   .icon{
    display: flex;
    justify-content: space-between;
   }

   .custom-span{
    display: none;
   }

   
.nav-bar{
    height: 200%;
    background-size: cover;
    width: 100%;
}

.Hero-section{
    background-size: 80px;
}

   .Hero-section h1{
    width: 50%;
    margin-top: 10px;
    text-align: center;
    font-size: 38px;
   }

   .Hero-section p{
    width: 100%;
    font-size: 26px;
   }
}

